@page "/"

<PageTitle>Index</PageTitle>

<h1>Startsida</h1>

<p>Detta är moment 1.2 i kursen DT191G - Webbutveckling med .NET.</p>
<p> Jag har skapat denna webbplats med Blazor Web Assembly i Visual Studio Code.</p>

