

<div>
    <nav class="navbar-content">

        <div class="logo">
            <img src="./logo.svg" />
        </div>

        <div class="nav-btn nav-1">
            <NavLink href="" Match="NavLinkMatch.All">
                <span class="nav-text">Home</span>
            </NavLink>
        </div>
        <div class="nav-btn nav-2">
            <NavLink href="calculator" Match="NavLinkMatch.All">
                <span class="nav-text">Calculator</span>
            </NavLink>
        </div>
        <div class="nav-btn nav-3">
            <NavLink href="fetchdata" Match="NavLinkMatch.All">
                <span class="nav-text">Fetch data</span>
            </NavLink>
        </div>
        
       
    </nav>
</div>



